.hello-world {
  padding: 2rem;
  margin: 4rem;
  background: #cccccc;
  border-radius: 2rem;
}

.mobile-app {
  width: 100px;
  height: 100px;
  background: url(@/assets/i/app-01.png) no-repeat center center;
}